.wrap{
    width: 1200px;
    margin: 0 auto;
}
.menu-item{
    margin-left: 100px;
    margin-top: 100px;
}
.menu-link{
    color: gray;
    float: left;
    margin-left: 100px;
}
.img1{
    position: absolute;
    width: 90px;
    height: 40px;
    border-radius: 0%;
    background-color: green;
    margin-top: 20px;
    margin-left: 70px;
    border: 3px solid black;
    border-radius: 50%;
    float: left;
}
.img2{
    position: absolute;
    width: 90px;
    height: 40px;
    border-radius: 0%;
    background-color: white;
    margin-top: 20px;
    margin-left: 200px;
    border: 3px solid black;
    border-radius: 50%;
    float: left;
}
.img3{
    position: absolute;
    width: 90px;
    height: 40px;
    background-color: gray;
    margin-top: 20px;
    margin-left: 340px;
    line-height: 40px;
    text-align: center;
    float: left;
}
.img4{
    position: absolute;
    width: 90px;
    height: 40px;
    border-radius: 0%;
    background-color: white;
    margin-top: 20px;
    margin-left: 480px;
    border: 3px solid black;
    border-radius: 50%;
    float: left;
}
.img5{
    position: absolute;
    width: 90px;
    height: 40px;
    background-color: green;
    border: 3px solid green;
    line-height: 40px;
    text-align: center;
    margin-top: 20px;
    margin-left: 600px;
    float: left;
}
.o{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid black;
}
.o :hover{
    transform: translateX(90px);
}
.p{
    color: white;
}